body{
  padding-left: 11em;
  font-family: Georgia,"Times New Roman",Times,serif;
  color: purple;
  background-color: #d8dad3;
}
ul.navbar{
  list-style-type: none;
  padding: 0;
  margin:0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em 
}   
h1{ 
  font-family: Helvetica,Geneva,Arial, SunSans-Regular,sans-serif 
}   
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black 
}   
ul.navbar a { 
  text-decoration: none 
}   
.navbar a:link {
  color: blue 
}   
.navbar a:visited {
  color: purple 
}   
address{
  margin-top:1em;
  padding-top: 1em;
  border-top: thin dotted;
}
.main{
  background-color:white;
  overflow: hidden    ;
}
.contenido {
  align-items: center;
  margin: 0% 20%;
}
.card{
  margin-bottom: 3%;
  padding: 20px;
  background-color: #cecccc;
}
.header{
  color:white;
  padding :3px;
  text-align: center;
  background:#373549;
}
.footer{
  text-align: center;
}


         
    
